
*.toc
*.pkg
*.spec
build/
backup/
dist/
__pycache__/
telegram.py
bot.py
telegram.ini
__notes.txt
darren.py
keysettings.ini
photo.bin
photo.txt
photo2.bin
photo2.txt
test.py
config.ini
__notes.txt
config.ini
settings.ini
settings.ini
settings.ini
test.txt
